.experience {
  width: 100%;
  padding: 2rem 0;
  min-height: 80vh;
  position: relative;

  @media screen and (max-width: 470px) {
    .header-text {
      text-align: center;
    }
  }
}

.line {
  height: 250px;
  width: 15px;
  background-color: $color3;
  position: absolute;

  @media screen and (max-width: 970px) {
    display: none;
  }
}

.work-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;

  .work-text {
    padding-left: 3rem;

    p {
      margin: 0.5rem 0;
    }

    .role {
      color: $color3;
    }

    .date {
      color: #bebebe;
    }

    .hashtag {
      margin-top: 1.25rem;
    }
  }

  @media screen and (max-width: 470px) {
    .work-text {
      padding-left: 0.5rem;
    }
  }
}
