.experience {
  width: 100%;
  padding: 4rem 0;
  min-height: 50vh;
  position: relative;
}

.line {
  height: 250px;
  width: 15px;
  background-color: $color3;
  position: absolute;
}

.work-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  .work-text {
    padding-left: 3rem;

    p {
      margin: 0.5rem 0;
    }

    .role {
      color: $color3;
    }

    .date {
      color: #bebebe;
    }

    .hashtag {
      margin-top: 1.25rem;
      span.pill {
        user-select: none;
        font-weight: 700;
        padding: 4px 8px;
        border-radius: 2rem;
      }
    }
  }
}

.dot-spacer {
  margin: 0 0.4rem;
}
